:host {
    border-right: 1px solid #757575;
}

a{
    display: block;
    line-height: 2;
    padding: 0 5px;
    width: calc(100% - 20px);
    border-radius: 10px;
}

a:visited,
a:link {
    margin: 0 5px;
    cursor: pointer;
    color: #757575;
    text-decoration: none;
}

a:active,
a:hover {
    margin: 0 5px;
    cursor: pointer;
    color: purple;
    text-decoration: underline;
}

a.active {
    color: purple;
    background-color: rgb(238, 177, 238);
}