div {      
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 99999999;
    background: rgba(0, 0, 0, 0.611);
  }

  div::after { 
    content: "Loading...";
    position: absolute;
    display: block;      
    background-color: white;      
    width: 6rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    font-weight: bolder;
    font-size: 1.2rem;
    color: blueviolet;
    border: 1px solid black;
    border-radius: 5px;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .hidden {
    display: none;
  }