* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100vh;
}

body {
    display: grid;
    grid-template-areas: 
      "header header"
      "sidebar content";
    grid-template-columns: 150px auto;
    grid-template-rows: 60px calc(100vh - 80px);
    grid-gap: 10px;
}

header {
    grid-area: header;
    color: var(--primary-border-color, purple);
}

aside {
    grid-area: sidebar;
    border-right: 2px solid var(--primary-border-color, #757575);
}

main {
    position: relative;
    grid-area: content;
}

a{
    display: block;
    line-height: 2;
    padding: 0 5px;
    width: calc(100% - 10px);
}

a:visited,
a:link {
    margin: 0 5px;
    cursor: pointer;
    color: #757575;
    text-decoration: none;
}

a:active,
a:hover {
    margin: 0 5px;
    cursor: pointer;
    color: purple;
    text-decoration: underline;
}

a.active {
    color: purple;
    background-color: rgb(238, 177, 238);
}

/* WF Controls */
#wf {
    display: inline-block;
    width: 600px;
}

h1 {
    color: purple;
}

.text {
    margin: 5px;
    color: #757575;
}

.error {
    color: red;
}

.success {
    color: darkgreen;
    font-weight: bolder;
}

input {
    font-size: 1rem;
    padding: .8rem .8rem .8rem .4rem;
    margin: 5px 1px;
    display: block;
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--primary-border-color, #757575);
}

input:focus {
    outline: none;
    margin: 4px 0;
    border: 2px solid var(--primary-border-color, purple);
}

input[error="true"]{
    margin: 4px 0;
    background-color: lightpink;
    border: 2px solid red;
}

[wf-error] {
    color: red;
    font-weight: bolder;
}