* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin:0px;
}

body {
    display:flex;
    flex-direction: column;
    height: 100vh;
    align-items: stretch;
}

#pageHeader {
    flex: 0 0 50px;
}

#content {
    display: flex;
    flex: 1;
    height: calc(100vh - 85px);
}

polaris-menu {
    flex: 0 0 150px;
}

polaris-main {
    flex: 1;
    margin: 10px;
}